

body{background-color:blanchedalmond;}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

body{background-color: blanchedalmond;}

body{background-color: teal;}

body{background-color: teal;}

body{background-color: black;}
        h1{color:azure;}
        p{color: cornflowerblue;}

 body{background-color: slategrey;}
  h1{
 text-align: center;
 }

  body{background-color: slategrey;}